   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   
   body {
       height: 100vh;
       background: linear-gradient(rgb(138, 160, 163), rgb(144, 152, 200));
       font-family: sans-serif;
       color: rgb(0, 0, 0);
   }
   
   .main {
       display: flex;
   }
   
   #forecast {
       margin-top: 100px;
       font-size: medium;
       display: flex;
       gap: 50px;
       overflow-x: scroll;
       cursor: ew-resize;
   }
   
   .forecast-list {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 10px;
       margin-bottom: 20px;
   }
   
   .temp {
       color: blue;
       white-space: nowrap;
   }